antlr4-python3-runtime==4.8
beautifulsoup4==4.11.2
cbor==1.0.0
certifi==2022.12.7
charset-normalizer==3.1.0
chest==0.2.3
click==8.1.3
cwl-eval==1.0.12
Deprecated==1.2.13
dill==0.3.6
filelock==3.9.1
HeapDict==1.0.1
huggingface-hub==0.13.2
idna==3.4
ijson==3.2.0.post0
ir-datasets==0.5.4
ir-measures==0.3.1
Jinja2==3.1.2
joblib==1.2.0
lxml==4.9.2
lz4==4.3.2
MarkupSafe==2.1.2
matchpy==0.5.5
more-itertools==9.1.0
mpmath==1.3.0
multiset==2.1.1
networkx==3.0
nptyping==1.4.4
numpy==1.24.2
omegaconf==2.1.2
packaging==23.0
pandas==1.5.3
patsy==0.5.3
py4j==0.10.9.5
pyarrow==11.0.0
pyautocorpus==0.1.9
pyjnius==1.4.2
pyspark==3.3.2
# pyt-splade==0.0.2
# pyterrier-t5==0.0.1
python-dateutil==2.8.2
python-terrier==0.9.2
pytrec-eval-terrier==0.5.5
pytz==2022.7.1
PyYAML==6.0
regex==2022.10.31
requests==2.28.2
sacremoses==0.0.53
scikit-learn==1.2.2
scipy==1.10.1
sentencepiece==0.1.97
six==1.16.0
soupsieve==2.4
# SPLADE==2.1
statsmodels==0.13.5
sympy==1.11.1
threadpoolctl==3.1.0
tokenizers==0.12.1
torch==2.0.0
tqdm==4.65.0
transformers==4.18.0
trec-car-tools==2.6
typing_extensions==4.5.0
typish==1.9.3
unlzw3==0.2.2
urllib3==1.26.15
warc3-wet==0.2.3
warc3-wet-clueweb09==0.2.5
wget==3.2
wrapt==1.15.0
zlib-state==0.1.5
